*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  
    background-color: rgb(10, 36, 61);
    background-image: url(../src/assets//images/1428513.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width           : 100%;
    height          : 100%;
  
}
   
